.git
.env
.idea/
.dockerignore
Dockerfile
docker-compose-production.yml
docker-compose.yml
venv/
rabbitmq_data/
postgres_data/
minio_data/
redis_data/
configurations/
certs/
crypt_keys/
__pycache__/

node_modules/
.vscode
.svelte-kit
*.md
dist