services:
    minio:
        image: minio/minio
        restart: unless-stopped
        ports:
            - "9000:9000" # API
            - "9001:9001" # UI

        environment:
            MINIO_ROOT_USER: ${MINIO_ROOT_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
            MINIO_STALE_UPLOADS_EXPIRY: ${MINIO_STALE_UPLOADS_EXPIRY}

        volumes:
            - ./minio_data:/data

        command: [ "server", "--console-address", ":9001", "/data" ]

        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
            interval: 30s
            timeout: 20s
            retries: 3
            start_period: 20s


    postgres:
        image: postgres:latest #не знаю почему, но постгре нормально не запускается если явно указать версию
        restart: unless-stopped
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}

        volumes:
            - ./postgres_data:/var/lib/postgresql/data

        healthcheck:
            test: [ "CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'" ]
            interval: 10s
            timeout: 3s
            retries: 3
            start_period: 10s


    redis:
        image: redis:8.2.2-alpine
        restart: unless-stopped
        ports:
            - "6379:6379"
        volumes:
            - ./redis_data:/data

        command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}", "--appendonly", "yes" ]
        healthcheck:
            test: [ "CMD", "redis-cli", "-u", "redis://:${REDIS_PASSWORD}@localhost:6379", "ping" ]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 20s

    rabbitmq:
        image: rabbitmq:4.2.0-rc.1-management-alpine
        restart: unless-stopped
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
            RABBITMQ_ENABLE_PLUGINS: rabbitmq_auth_mechanism_ssl, rabbitmq_management
            RABBITMQ_CONFIG_FILE: /etc/rabbitmq/rabbitmq

        volumes:
            - ./rabbitmq_data:/var/lib/rabbitmq
            - ./certs/rabbitmq:/etc/rabbitmq/certs/
            - ./configurations/custom_configs/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf

        healthcheck:
            test: rabbitmq-diagnostics -q ping
            interval: 30s
            timeout: 30s
            retries: 3
            start_period: 10s

    nginx:
        image: nginx:1.29.2-alpine
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"

        #        volumes:
        #            - ./nginx:/etc/nginx
        #            - ./static:/var/www/static/

        healthcheck:
            test: [ "CMD", "service", "nginx", "status" ]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 10s