services:
    auth_service:
        build:
            context: ./services/auth_service
            dockerfile: Dockerfile
        restart: unless-stopped
        environment:
            DEVELOPMENT_MODE: true
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            REDIS_PASSWORD: ${REDIS_PASSWORD}

        ports:
            - "8000:8000"

        volumes:
            - ./certs/redis:/auth_service/certs/redis:ro
            - ./certs/postgres:/auth_service/certs/postgres:ro
            - ./certs/auth_service:/auth_service/certs/auth_service:ro
            - ./crypt_keys/jwt_keys:/auth_service/crypt_keys/jwt_keys:ro

        depends_on:
            database_migrations:
                condition: service_completed_successfully
            redis:
                condition: service_healthy
            postgres:
                condition: service_healthy

        healthcheck:
            test: [ "CMD", "curl", "--cacert", "/auth_service/certs/auth_service/rootCA.crt",
                    "-f", "https://auth_service:8000/health" ]
            interval: 30s
            timeout: 20s
            retries: 3
            start_period: 10s


    channel_actions:
        build:
            context: ./services/channel_actions
            dockerfile: Dockerfile
        restart: unless-stopped
        environment:
            DEVELOPMENT_MODE: true
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            REDIS_PASSWORD: ${REDIS_PASSWORD}
            RABBITMQ_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_PASS: ${RABBITMQ_DEFAULT_PASS}

        ports:
            - "8010:8010"

        volumes:
            - ./certs/channel_actions:/channel_actions/certs/channel_actions:ro
            - ./certs/postgres:/channel_actions/certs/postgres:ro
            - ./certs/rabbitmq:/channel_actions/certs/rabbitmq:ro

        depends_on:
            database_migrations:
                condition: service_completed_successfully
            postgres:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
            auth_service:
                condition: service_healthy

        healthcheck:
            test: [ "CMD", "curl", "--cacert", "/channel_actions/certs/channel_actions/rootCA.crt",
                    "-f", "https://channel_actions:8010/health" ]
            interval: 30s
            timeout: 20s
            retries: 3
            start_period: 10s


    file_upload:
        build:
            context: ./services/file_upload
            dockerfile: Dockerfile
        restart: unless-stopped
        environment:
            DEVELOPMENT_MODE: true
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            REDIS_PASSWORD: ${REDIS_PASSWORD}
            RABBITMQ_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_PASS: ${RABBITMQ_DEFAULT_PASS}

        ports:
            - "8030:8030"

        volumes:
            - ./certs/file_upload:/file_upload/certs/file_upload:ro
            - ./certs/rabbitmq:/file_upload/certs/rabbitmq:ro
            - ./certs/minio:/file_upload/certs/minio:ro
            - ./crypt_keys/jwt_keys:/file_upload/crypt_keys/jwt_keys:ro

        depends_on:
            rabbitmq:
                condition: service_healthy
            auth_service:
                condition: service_healthy
            minio:
                condition: service_healthy

        healthcheck:
            test: [ "CMD", "curl", "--cacert", "/file_upload/certs/file_upload/rootCA.crt",
                    "-f", "https://file_upload:8030/health" ]
            interval: 30s
            timeout: 20s
            retries: 3
            start_period: 10s


    database_migrations:
        build:
            context: ./services/database_migrations
            dockerfile: Dockerfile
        restart: on-failure
        #        command: "alembic revision --autogenerate -m \" \""
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - ./certs/postgres:/database_migrations/certs/postgres:ro
            - ./services/database_migrations/migrations/versions:/database_migrations/migrations/versions
        depends_on:
            postgres:
                condition: service_healthy


    minio:
        image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
        restart: unless-stopped
        ports:
            - "9000:9000" # API
            - "9001:9001" # UI

        environment:
            MINIO_ROOT_USER: ${MINIO_ROOT_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
            MINIO_STALE_UPLOADS_EXPIRY: ${MINIO_STALE_UPLOADS_EXPIRY}

        volumes:
            - ./minio_data:/data
            - ./certs/minio:/root/.minio/certs

        command: [ "server", "--console-address", ":9001", "/data" ]

        healthcheck:
            test: [ "CMD", "curl", "--cacert", "/root/.minio/certs/CAs/ca.crt", "-f", "https://minio:9000/minio/health/live" ]
            interval: 30s
            timeout: 20s
            retries: 3
            start_period: 10s


    postgres:
        image: postgres:18.0-alpine3.22
        restart: unless-stopped
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            PGDATA: /var/lib/postgresql/data/pgdata

        volumes:
            - ./postgres_data:/var/lib/postgresql/data/pgdata
            - ./certs/postgres:/var/lib/postgresql/ssl
            - ./configurations/custom_configs/postgres/postgres.conf:/etc/postgresql/postgresql.conf
            - ./configurations/custom_entrypoints/postgres/init_entrypoint.sh:/init_entrypoint.sh

        entrypoint: [ '/init_entrypoint.sh' ]
        healthcheck:
            test: [ "CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'" ]
            interval: 10s
            timeout: 3s
            retries: 3
            start_period: 10s


    redis:
        image: redis:8.2.2-alpine
        restart: unless-stopped
        ports:
            - "6379:6379"
        volumes:
            - ./redis_data:/data
            - ./certs/redis:/certs
            - ./configurations/custom_configs/redis:/config/

        command: [ "redis-server", "/config/redis.conf", "--requirepass", "${REDIS_PASSWORD}", "--appendonly", "yes" ]
        healthcheck:
            test: [ "CMD", "redis-cli", "-u", "redis://:${REDIS_PASSWORD}@localhost:6379",
                    "--tls", "--cert", "/certs/client.crt", "--key", "/certs/client.key", "--cacert", "/certs/rootCA.crt",
                    "ping" ]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 20s


    rabbitmq:
        image: rabbitmq:4.2.0-rc.1-management-alpine
        restart: unless-stopped
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
            RABBITMQ_ENABLE_PLUGINS: rabbitmq_auth_mechanism_ssl, rabbitmq_management
            RABBITMQ_CONFIG_FILE: /etc/rabbitmq/rabbitmq

        volumes:
            - ./rabbitmq_data:/var/lib/rabbitmq
            - ./certs/rabbitmq:/etc/rabbitmq/certs/
            - ./configurations/custom_configs/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf

        healthcheck:
            test: rabbitmq-diagnostics -q ping
            interval: 30s
            timeout: 30s
            retries: 3
            start_period: 10s


    nginx:
        image: nginx:1.29.2-alpine
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"

        volumes:
            - ./certs/nginx:/etc/nginx/ssl/:ro
            - ./configurations/custom_configs/nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./certs/auth_service:/etc/ssl/auth_service:ro
            - ./certs/file_upload:/etc/ssl/file_upload:ro
        #            - ./nginx:/etc/nginx
        #            - ./static:/var/www/static/

        depends_on:
            auth_service:
                condition: service_healthy
            file_upload:
                condition: service_healthy

        healthcheck:
            test: [ "CMD", "curl", "--cacert", "/etc/nginx/ssl/rootCA.crt", "-f", "https://nginx/health" ]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 10s


    pgadmin:
        image: dpage/pgadmin4
        restart: unless-stopped
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@example.com
            PGADMIN_DEFAULT_PASSWORD: admin
        ports:
            - "8080:80"
        depends_on:
            postgres:
                condition: service_healthy
        volumes:
            - ./pgadmin_data:/var/lib/pgadmin